{%  include "header.html" %}

  <div class="box" id="heading">
    <h1> {{ sas }} </h1>
  </div>

  <div class="box">
   {% for i in newListItems:  %}

    <form action="{{url_for('delete')}}" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="{{i.id}}" onChange="this.form.submit()">
        <p>{{i.text}}</p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"/>
    </form>
  {% endfor %}


      <form class="item" action="{{url_for('index')}}" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="">+</button>
      </form>
  </div>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

{%  include "footer.html" %}
